doctype 5
html
	head
		title= title
		script(rel='text/javascript', src='/javascripts/jquery.js')
		script(rel='text/javascript', src='/javascripts/modernizr.foundation.js')
		script(rel='text/javascript', src='/javascripts/foundation.min.js')
		script(rel='text/javascript', src='/javascripts/app.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
		link(rel='stylesheet', href='/stylesheets/foundation.css')
	body
		block content